.adsense{
	display: flex;
	border: 1px solid #eee; 
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); 
	margin-bottom: 10px;
}

.cate-adsense{
	@extend .adsense;
	border: none;
	border-left: 1px solid #eee; 
	border-right: 1px solid #eee; 
}

.recommend-adsense{
	display: flex; 
	border:1px solid #eee; 
	padding: 9px;
}