body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-size: 12px;
    font-family: 微软雅黑, 冬青黑体, 宋体, arial;
    color: #333;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../../lib/fonts/glyphicons-halflings-regular.eot');
	src: url('../../lib/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../lib/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../lib/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

::selection {
    background-color: #E13300;
    color: white;
}

ul{
	padding:0;
	margin:0;
	list-style:none;
}

a{
	text-decoration: none;
}

.clearfix{
	float: none;
	clear: both;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.fixed-footer{
	position: fixed;
	bottom: 0;
	width: 100%;	
}

.pb-60{
	padding-bottom: 60px;
}