.dl-container{
	@extend .view-container;

	.page-title{
		padding: 10px;
		border:1px solid #eee;
		border-bottom:none;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);

		h1{
			line-height: 25px;
			color: #666;
			padding: 0;
			margin:0;
			font: 16px/20px "微软雅黑";
		}
	}

	.page-notice{
		padding: 5px 10px;
		color: #747474;
		border:{
			left: 1px solid #eee;
			right: 1px solid #eee;
		}
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

		p{
			margin: 2px 0;
		}

		a{
			color: #0186E8;

			&:hover{
				text-decoration: underline;
				color: #FF0000;
			}
		}
	}

	.page-top{
		margin-bottom: 10px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;

		.dl-notice{
			border:1px solid #eee; 
			padding:10px; 
			margin:18px 0 20px 0;

			p{
				margin: 2px 0;
			}
		}

		.dl-box{
			border: 1px solid #eee;
			margin:18px 0 18px 0;
			height:60px;
			overflow:hidden;

			.left{
				float:left;
				width:234px;
				padding: 10px;

				p{
					padding: 2px 5px;
					margin: 0;
					border-left: 2px solid #0186E8;
				}

				span{
					color: #747474;
				}

				.doc-info-left{
					width:40%; float:left;
				}

				.doc-info-right{
					width:60%; float:right;
				}
				
			}

			.center{
				float:left;
				width:448px;
			}

			.right{
				float:right;
				width:258px;
				height:60px;

				.dl-link{
					color: white;
				    text-shadow: #188062 0px 1px 0px;
				    font-family: 微软雅黑, 冬青黑体, 宋体, arial;
				    background: #2fad85;
				    padding: 0 30px;
				    font-size: 18px;
				    display: block;
				    height: 100%;
				    line-height:60px;
				    text-align: center;
				    white-space: nowrap;
				}

				.dl-forbidden{
					height: 100%;
					line-height:60px;
					text-align: center;
				    color: white;
				    text-shadow: #188062 0px 1px 0px;
				    font-family: 微软雅黑, 冬青黑体, 宋体, arial;
				    background: #bbb;
				    padding: 0 30px;
				    font-size: 18px;
				    display: block;
				    white-space: nowrap;
				}
			}
		}
	}
}