.footer{
	margin-top: 15px;
    background: #000;
    background: rgba(0,0,0,0.7);
    filter: Alpha(opacity=70);
    width: 100%;
    min-width: 1200px;

    .main-container{
	    padding: 10px 0;
	    line-height: 25px;

	    .left{
	    	float: left;

	    	li{
	    		float: left;
	    		padding-right:30px;

	    		a{
			    	color: #ccc;

			    	&:hover{
			    		color: #eee;
			    	}
			    }
	    	}
	    }
	    
	    .right{
	    	float: right;

	    	span{
	    		color: #ccc;
	    		margin-left: 10px;

	    		a{
	    			color: #ccc;
	    			margin: 0 5px;

	    			&:hover{
			    		color: #eee;
			    	}
	    		}
	    	}
	    }
    }
}
.view-footer{
	margin-bottom: 46px;
}