.footer{
	margin-top: 15px;
    background: #000;
    background-image: url(../img/noise-bg.png);
    background-repeat: repeat;
    width: 100%;
    min-width: 1200px;
    border-top: 10px solid #000;
    position: relative;

    .main-container{
	    padding: 10px 0;
	    line-height: 25px;

	    .left{
	    	float: left;

	    	li{
	    		float: left;
	    		padding-right:30px;

	    		a{
			    	color: #ccc;

			    	&:hover{
			    		color: #eee;
			    	}
			    }
	    	}
	    }
	    
	    .right{
	    	float: right;

	    	span{
	    		color: #ccc;
	    		margin-left: 10px;

	    		a{
	    			color: #ccc;
	    			margin: 0 5px;

	    			&:hover{
			    		color: #eee;
			    	}
	    		}
	    	}
	    }
    }

    .footer-top-bg{
        background-image: url(../img/footer-shadow.png);
        background-repeat: repeat-x;
        width: 100%;
        height: 16px;
        position: absolute;
        top: -26px;
        left: 0;
    }
}
.view-footer{
	margin-bottom: 46px;
}