.header{
    background: #000;
    background: rgba(0,0,0,0.7);
    filter: Alpha(opacity=70);
    width: 100%;
    min-width: 1200px;

    .main-header{
        width: 960px;
        float:left;

        .logo{
            color: #ccc;
            line-height: 50px;
            font-size: 20px;
            float: left;
            padding-right: 30px;
        }

        .menu{
            float: left;
            
            ul{
                
                li{
                    float: left;
                    line-height: 50px;
                    position:relative;

                    a{
                        display: block;
                        color: #ccc;
                        font-size: 16px;
                        padding: 0 15px;

                        &.menu-icon{
                            background-image: url('../../assets/images/menu-arr-down.png');
                            background-repeat: no-repeat;
                            background-position: right center;
                            padding: 0 25px 0 15px;
                        }

                        &:hover{
                            background-color: rgba(0,0,0,1);
                            color:#eee;
                        }
                    }
                }
            }
        }

        .search-form{
            position: relative;
            width: 367px;
            float:right;
            margin-top: 9px;

            .search-input{
                padding: 7px 50px 7px 10px;
                width: 100%;
                color: #49525c;
                font-size: 14px;
                line-height: 16px;
                background-color: #e1eaf2;
                border: 1px solid #4c4c4c;
                border-radius: 4px;
                box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1);
                outline: 0;
                box-sizing: border-box;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                //-webkit-tap-highlight-color: rgba(225,225,225,.5);
            }

            .search-button{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background: dimgray;
                border: 1px solid #4c4c4c;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 1px 1px rgba(255,255,255,.15);
                box-sizing: border-box;
                outline: 0;
                cursor: pointer;
                font-size: 14px;
                padding: 0 10px;

                .search-button-text{
                    color: #ccc;
                }
            }
        }

        .safari-search-form{
            margin-top: 6px;

            .safari-search-button{
                height: 33px;
                top: 2px;
                right: -2px;
            }
        }
    }

    .login{
    	float: right;
        display: none;

    	ul{
    		li{
    			float: left;
    			line-height: 50px;
    			padding-left: 10px;
    			color: #ccc;

    			a{
    				color: #ccc;

    				&:hover{
    					color:#eee;
    				}
    			}
    		}
    	}

        .login-form{
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            width:400px;
            height: auto;
            margin-left: -200px;
            margin-top: -150px;
            box-shadow: 0 0 5px 0 #444;

            .login-form-header {
                height: 40px;
                background: #00efff;
                position: relative;

                .login-title {
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    color: #fff;
                }

                .login-form-close{
                    width:40px;
                    height:100%;
                    line-height:40px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: lighten(#ff0000, 20%);
                    color: #fff;
                    font-size: 28px;
                    text-align:center;

                    &:hover{
                        background-color: #ff0000;
                    }
                }
            }

            .login-form-body {
                padding: 10px;
                background-color: #fefefe;

                .form-signin {
                    padding: 15px;
                    margin: 0 auto;

                    input[type="email"] {
                        margin-bottom: -1px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    input[type="password"] {
                        margin-bottom: 20px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    .form-control {
                        position: relative;
                        width: 100%;
                        height: auto;
                        padding: 12px;
                        font-size: 16px;
                        line-height: 16px;
                        display: block;
                        
                        color: #555;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 6px;

                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;

                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        
                        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

                        &:focus {
                            z-index: 2;
                            border-color: #66afe9;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                        }
                    }

                    .btn-primary {
                        margin-bottom: 0;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;

                        color: #fff;
                        background-color: #337ab7;
                        border: 1px solid #2e6da4;

                        padding: 13px 16px;
                        font-size: 16px;
                        line-height: 16px;
                        border-radius: 6px;
                        outline: none;

                        display: block;
                        width: 30%;
                        float: left;

                        &:hover{
                            background-color: darken(#337ab7, 10%);
                        }
                    }

                    .login-link{
                        float: right;
                        line-height: 44px;

                        a{
                            color: #444;

                            &.register{
                                margin-right: 25px;
                            }

                            &.forget{
                                
                            }

                            &:hover{
                                color: lighten(#444, 40%);
                            } 
                        }
                    }
                }
            }
        }
    }
}