.header{
    background-color: rgba(0,0,0,0.7);

    .logo{
    	color: #ccc;
    	line-height: 50px;
    	font-size: 20px;
    	float: left;
    	padding-right: 30px;
    }

    .login{
    	float: right;

    	ul{
    		li{
    			float: left;
    			line-height: 50px;
    			padding-left: 10px;
    			color: #ccc;

    			a{
    				color: #ccc;

    				&:hover{
    					color:#eee;
    				}
    			}
    		}
    	}

        .login-form{
            position: fixed;
            left: 50%;
            top: 50%;
            width:400px;
            height: 300px;
            margin-left: -200px;
            margin-top: -150px;
            box-shadow: 0 0 5px 0 #444;

            .login-form-header {
                height: 50px;
                background: #00efff;
                position: relative;

                .login-title {
                    text-align: center;
                    padding-top: 12px;
                    font-size: 18px;
                    color: #fff;
                }
            }

            .login-form-body {
                padding: 10px;
                background-color: #fefefe;

                .form-signin {
                    padding: 15px;
                    margin: 0 auto;

                    input[type="email"] {
                        margin-bottom: -1px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    input[type="password"] {
                        margin-bottom: 10px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    .form-control {
                        width: 100%;
                        height: auto;
                        padding: 10px;
                        font-size: 16px;
                        line-height: 18px;
                        
                        color: #555;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 4px;

                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;

                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        
                        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                    }

                    .btn-primary {
                        display: inline-block;
                        padding: 6px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.42857143;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        -ms-touch-action: manipulation;
                        touch-action: manipulation;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        background-image: none;
                        border: 1px solid transparent;
                        border-radius: 4px;

                        color: #fff;
                        background-color: #337ab7;
                        border-color: #2e6da4;

                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333333;
                        border-radius: 6px;

                        display: block;
                        width: 100%;
                    }
                }
            }

            .login-form-footer {
                height: 30px;
                background: #aaaa00;
                position: relative;
            }
        }
    }
}