.header{
    background-color: rgba(0,0,0,0.7);

    .logo{
    	color: #ccc;
    	line-height: 50px;
    	font-size: 20px;
    	float: left;
    	padding-right: 30px;
    }

    .login{
    	float: right;

    	ul{
    		li{
    			float: left;
    			line-height: 50px;
    			padding-left: 10px;
    			color: #ccc;

    			a{
    				color: #ccc;

    				&:hover{
    					color:#eee;
    				}
    			}
    		}
    	}

        .login-form{
            position: fixed;
            left: 50%;
            top: 50%;
            //border: 1px solid #eee;
            width:400px;
            height: 300px;
            margin-left: -200px;
            margin-top: -150px;
            box-shadow: 0 0 5px 0 #444;

            .login-form-header {
                height: 70px;
                background: #00efff;
                position: relative;

                .login-title {
                    text-align: center;
                    padding-top: 12px;
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }
}