.home-container{
	float:left;

	.category-container{
		width: 962px;
		padding-top: 10px;

		&:first-child{
			padding-top: 15px;
		}

		.category-title{
			padding: 10px;
			border:1px solid #eee;
			border-bottom:none;
			box-shadow: 0 0 5px 0 rgba(0,0,0,.2);

			h1{
				line-height: 25px;
				padding: 0;
				color: #ccc;
				margin:0;
				font: 16px/20px "微软雅黑";

				b{
					color: #747474;
				}
			}

			.category-title-note{
				font-size: 14px;
			}

			.cate_all{
				float: right;
				font-weight: normal;
				font-size: 14px;

				a{
					color: #747474;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.category{
			border: 1px solid #eee;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

			ul{
				width: 50%;
				float:left;
				min-height: 409px;

				li{
					border-bottom: 1px dashed #eee;

					a{
						color: #747474;
						display:block;
						padding: 10px 10px;

						h3{
							margin: 0;
							white-space:nowrap;
							overflow:hidden;
							text-overflow:ellipsis;
							font-weight: normal;
							font-size: 14px;
						}

						&:hover{
							background-color: lighten(rgba(0, 0, 0, 0.1), 40%);
						}
					}

					&:last-child{
						border-bottom: none;
					}
				}
				
			}
		}
	}
}