.category-container-wrap{
	width: 1200px;

	.category-container{
		width: 970px;
		float: left;
		padding-top: 15px;

		.category-title{
			padding: 10px;
			border:1px solid #eee;
			border-bottom:none;
			box-shadow: 0 0 5px 0 rgba(0,0,0,.2);

			h1{
				line-height: 25px;
				padding: 0;
				color: #ccc;
				margin:0;
				font: 16px/20px "微软雅黑";

				b{
					color: #747474;
				}
			}
		}
		.category{
			border: 1px solid #eee;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

			ul{
				width: 50%;
				float:left;
				min-height: 335px;

				li{
					border-bottom: 1px dashed #eee;

					a{
						color: #747474;
						display:block;
						padding: 10px 10px;

						h3{
							margin: 0;
						}

						&:hover{
							background-color: lighten(rgba(0, 0, 0, 0.1), 40%);
						}
					}

					&:last-child{
						border-bottom: none;
					}
				}
				
			}
		}
	}
}