.menu{
	float: left;
	
	ul{
		
		li{
			float: left;
			line-height: 50px;
			position:relative;

			a{
				display: block;
				color: #ccc;
				font-size: 16px;
				padding: 0 15px;

				&.menu-icon{
					background-image: url('../../assets/images/menu-arr-down.png');
					background-repeat: no-repeat;
					background-position: right center;
					padding: 0 25px 0 15px;
				}

				&:hover{
					background-color: rgba(0,0,0,1);
					color:#eee;
				}
			}
		}
	}
}