.page-container{
	float:left;

	.page-title{
		font-size: 22px;
	    font-family: Microsoft Yahei;
	    font-weight: normal;
	    color: #333;
	    margin: 35px 0 25px 0;
	}

	.page-title2 {
	    font-family: arial;
	    font-size: 13px;
	    color: #666;
	}

	ul{
		margin-left: 47px;
		list-style: disc;

		li{
			margin: 13px 0;

			a{
				color: #FF0000;
				text-decoration: underline;
			}
		}
	}
}