.search-container{
	@extend .view-container;

	.search-title{
		padding: 10px;
		border:1px solid #eee;
		border-bottom:none;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);

		h1{
			line-height: 25px;
			padding: 0;
			color: #ccc;
			margin:0;
			font: 16px/20px "微软雅黑";

			b{
				color: #747474;
			}
		}

		.search-title-note{
			font-size: 14px;
		}
	}
	.search{
		border: 1px solid #eee;
		margin-bottom: 15px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

		ul{
			li{
				border-bottom: 1px dashed #eee;

				a{
					color: #747474;
					display:block;
					padding: 10px 10px;

					background-repeat: no-repeat;
				    background-size: 85px;
				    background-position-x: 10px;
				    background-position-y: 10px;
				    padding-left: 95px;

				    .ext{
				    	position: absolute;
					    left: 10px;
					    top: 75px;
					    width: 70px;
					    font-size: 14px;
					    color: #aaa;
					    text-align: center;
				    }

					h3{
						margin: 0;
						white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    font-size: 14px;

					    span{
							float: right;
							font-weight: normal;
							color: #ccc;
						}
					}

					p{
						margin: 5px 0 0 0;
						color: #aaa;
						line-height: 20px;
						max-height:60px;
						overflow:hidden;
					}

					&:hover{
						background-color: lighten(rgba(0, 0, 0, 0.1), 40%);
					}
				}

				&:last-child{
					border-bottom: none;
				}
			}
			
		}

		.no-result{
			padding: 10px;
			text-align: center;
			color: #747474;
			font-size: 14px;
		}
	}
}