.login-container{

	.login-title{
		font-size: 22px;
	    font-family: Microsoft Yahei;
	    font-weight: normal;
	    color: #333;
	    margin: 35px 0 25px 0;
	}

	.login-title2{
		font-family: arial;
	    font-size: 13px;
	    color: #666;
	}

	input[type='text'],input[type='password']{
        padding: 7px 10px;
        width: 300px;
        color: #49525c;
        font-size: 14px;
        line-height: 16px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1);
        outline: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        //-webkit-tap-highlight-color: rgba(225,225,225,.5);
    }

    button{
    	display: block;
	    padding: 0;
	    width: 100%;
	    font-size: 15px;
	    line-height: 33px;
	    color: #fff;
	    text-align: center;
	    text-shadow: 0 1px 1px rgba(0,0,0,.2);
	    background: #80c3f7;
	    background: -webkit-linear-gradient(top,#80c3f7,#6bbaf8);
	    background: linear-gradient(to bottom,#80c3f7,#6bbaf8);
	    border: 1px solid #1D80CF;
	    border-radius: 5px;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(50,50,50,.05);
	    outline: 0;
	    cursor: pointer;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

}

.verify-container{

	.verify-title{
		font-size: 22px;
	    font-family: Microsoft Yahei;
	    font-weight: normal;
	    color: #333;
	    margin: 35px 0 25px 0;
	}

	.verify-title2{
		font-family: arial;
	    font-size: 13px;
	    color: #666;
	}

	ul{
		margin-left: 47px;

		li{
			margin: 13px 0;

			a{
				color: #FF0000;
				text-decoration: underline;
			}
		}
	}
}