.view-container{
	width: 962px;
	float: left;
	padding: 15px 0 0 0;

	.title-container{
		border: 1px solid #eee;
		box-shadow: 0 0 15px 0 #ccc;
		position:relative;

		.page-title{
			padding: 10px 10px 5px 0;
			border-bottom:1px solid #eee;

			h1{
				line-height: 25px;
				color: #666;
				padding: 0 10px;
				margin:0;
				font: 16px/20px "微软雅黑";
			}
		}

		.page-title-notice{
			padding: 5px 10px;
			color: #747474;

			.page-info{
				margin-right: 10px;

				a{
					color: #747474;
					&:hover{
						color: #ff0000;
					}
				}
			}

			span{
				float:right;
			}
		}

		.page-title-bottom{
			position: absolute;
		    width: 960px;
		    height: 10px;
		    left: 0px;
		    background-color: #fff;
		    bottom: -3px;
		    z-index: 9;
		}
	}

	.page{
		border: 1px solid #eee;
		margin-bottom: 15px;
		box-shadow: 0 2px 15px 0 #ccc;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('../img/page-loading.gif');

		.pv{
			text-align:center;
			padding-top:80px;
			display:none;

			p{
				margin:0;
				padding: 5px 0;
				font: 16px/20px "微软雅黑";
			}

			.pv-link a{
				color: #146c88;

				&:hover{
					text-decoration: underline;
					color: #FF0000;
				}
			}

			.pv-pic{
				padding-top: 10px;
			}
		}
	}

	.page-top{
		@extend .page;
		margin-bottom: 10px;
		background: none;

		.page-top-adsense{
			width: 690px;
			margin: auto;
			padding-top:20px;

			.left{
				float: left;
			}

			.right{
				float: right;
			}
		}

		.page{
			border: none;
			box-shadow: none;
		}
	}

	.more-page{
		@extend .page;
		min-height:auto;
		text-align:center;

		a{
			display:block;
			padding: 10px 0;

			span{
			    font-size: 16px;
	    		color: #b6b6b6;
	    		cursor: pointer;
			}

			&:hover{
    			background-color: lighten(rgba(0,0,0,0.1), 40%);
    		}
		}
	}
}
.recommend-container{
	width: 220px;
	float: right;
	padding: 16px 0 0 0;

	.relative-container{

		.relative-title{
			padding: 8px 0 9px 0;

			h1{
				line-height: 25px;
				color: #666;
				padding: 0;
				margin:0;
				font-size: 14px;
			}
		}

		ul{
			li{
				padding: 11px 0 12px 0;
				border-top: 1px solid #eee;

				a{
					color: #747474;

					&:hover{
						text-decoration: underline;
						color: #FF0000;
					}
				}
			}
		}
	}

	.fix-wrapper{ width: 220px; }
	.fix-wrapper-fixed{
		position:fixed; z-index:999999; top:0px;
	}
}
.reader-tools-bar-wrap{
	width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #eee;
    border-top:1px solid #ddd;
    z-index: 999999;

    .main-container{
		width: 1200px;
	    height: 46px;
	    margin: auto;
	    line-height: 46px;

	    .reader-tools-bar{
	    	width: 962px;

	    	.left{
	    		float: left;
	    		width: 33.33%;
	    		height: 46px;
	    	}
	    	.center{
	    		float: left;
	    		width: 33.33%;
	    		height: 46px;

	    		a{
	    			padding: 0 10px;
	    			color:#747474;

	    			&:hover{
	    				background-color:darken(#eee, 5%);
	    			}
	    		}

	    		/*.page-prev{
	    			float: left;
	    		}*/

	    		.page-pos{
	    			width: 120px;
				    float: left;
				    position: relative;
				    padding: 0 12px 0 0;

				    a {
					    height: 46px;
					    width: 30px;
					    line-height: 46px;
					    font-size: 14px;
					    position: relative;
					    top: auto;
					    right: auto;
					    padding: 0;
					    color: #888;
					    text-indent: -99px;
					    overflow: hidden;
					    background-color: transparent;

					    .pre{
					    	float: left;

					    	i{
					    		background-position: -140px -80px;
					    	}
					    }

					    .next{
					    	float: right;

					    	i{
					    		background-position: -140px -100px;
					    	}
					    }

					    i{
						    background: url(../img/icons.png) no-repeat;
						    position: absolute;
						    width: 20px;
						    height: 20px;
						    top: 13px;
						    left: 5px;
						}
					}

					p{
						width: 60px;
						height: 46px;
						margin: 0 30px;
					    text-align: center;
					    position: relative;
					    line-height: 46px;
					    font-size: 14px;
				    	background: url(../img/backslash.png) no-repeat center;

					    .page-cur{
					    	width: 29px;
						    height: 30px;
						    line-height: 30px;
						    font-size: 16px;
						    text-align: right;
						    top: 6px;
						    left: -2px;
						    color: #2c9344;
						    position: absolute;
					    }

		    			.page-num{
						    width: 29px;
						    height: 25px;
						    line-height: 25px;
						    text-align: left;
						    font-size: 14px;
						    color:#2c9344;
						    position: absolute;
						    bottom: 6px;
						    right: -3px;
						}
					}
	    		}

	    		/*.page-next{
	    			float: left;
	    			
	    		}*/

	    	}
	    	.right{
	    		float:right;
	    		position:relative;
	    		width: 33.33%;
	    		height: 46px;

		    	.download{
		    		position: absolute;
				    top:-1px;
				    right:0;
				    height: 47px;

		    		a{
					    color: rgb(255, 255, 255);
					    text-shadow: rgb(24, 128, 98) 0px 1px 0px;
					    font-family: 微软雅黑, 冬青黑体, 宋体, arial;
					    background: rgb(47, 173, 133);
					    padding: 0 30px;
					    font-size: 18px;
					    display:block;
					    height:100%;
					    white-space: nowrap;

					    &:hover{
					    	background: lighten(rgb(47, 173, 133), 5%);
					    }
				    }
		    	}

		    	.download-forbidden{
		    		position: absolute;
				    top:-1px;
				    right:0;
				    height: 47px;
				    color: rgb(255, 255, 255);
				    text-shadow: rgb(24, 128, 98) 0px 1px 0px;
				    font-family: 微软雅黑, 冬青黑体, 宋体, arial;
				    background: #bbb;
				    padding: 0 30px;
				    font-size: 18px;
				    display:block;
				    white-space: nowrap;
		    	}
	    	}
	    }
	}
}